@font-face {
  font-family: 'OpenGostTypeATT';
  src: url('../fonts/OpenGostTypeATT.woff2') format('woff2'),
       url('../fonts/OpenGostTypeATT.woff') format('woff'),
       url('../fonts/OpenGostTypeATT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}